body {
    background-color: rgb(242, 247, 248);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

.content-wrapper {
    width: calc(100% - 520px); /* 260px margin on left & right (260px * 2) */
    margin: 0 auto; /* Centers the div horizontally */
    text-align: center; /* Centers text and inline elements like images */
}
